<template>
  <transition name="fade">
    <div v-show="ready" class="block-chatbot" :style="chatbotStyles">
      <iframe
        id="ChatheroMatterportChatbot"
        :src="src"
        frameborder="0"
      ></iframe>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      src: "",
      width: "420px",
      height: "200px",
      ready: false,
    };
  },
  computed: {
    chatbotStyles() {
      return {
        width: this.width,
        height: this.height,
      };
    },
  },
  mounted() {
    if (process.client) {
      let url =
        process.env.NODE_ENV !== "production"
          ? "http://localhost:8000"
          : "https://app.chathero.ai";

      this.src = `${url}/matterport/lsadRExuqDJhfF4KvYqd`;
    }

    this.$nextTick(() => {
      window.addEventListener("message", this.receiveMessage, false);
    });
  },
  beforeDestroy() {
    window.removeEventListener("message", this.receiveMessage);
  },
  methods: {
    receiveMessage(event) {
      if (
        !["http://localhost:8000", "https://app.chathero.ai"].includes(
          event.origin
        )
      ) {
        return;
      }

      const {
        data: { type, width, height, status, sid },
      } = event;

      if (type === "sizing") {
        this.width = width;
        this.height = height;
      } else if (type === "matterport") {
        this.$emit("matterport-transition", sid);
      }

      if (status === "ready") {
        this.ready = true;
      }
    },
  },
};
</script>

<style>
.block-chatbot {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
}

.block-chatbot iframe {
  width: 100%;
  height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>