<template>
  <div class="block-matterport">
    <iframe
      src="https://my.matterport.com/show?m=gehW37M2Ede&play=1"
      frameborder="0"
      allowfullscreen
      allow="vr; xr-spatial-tracking"
      id="showcase_iframe"
      @load="onIframeLoaded"
    ></iframe>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showcase: null,
      items: {},
    };
  },
  methods: {
    onIframeLoaded() {
      const iframe = document.getElementById("showcase_iframe");
      try {
        window.MP_SDK.connect(
          iframe, // Obtained earlier
          "68me6tb5bqf67pwrfaq5yrged", // Your API key
          "3.8" // SDK version you are using
          // Use the latest version you can for your app
        )
          .then((loadedShowcase) => {
            this.showcase = loadedShowcase;
            this.showcase.Mattertag.getData()
              .then((mattertags) => {
                mattertags.forEach(({ sid, label }) => {
                  this.items[sid] = { label };
                });
              })
              .catch((error) => {
                console.error(`Mattertag.getData() failed: ${error}`);
              });
          })
          .catch((error) => {
            console.error(`Matterport connection failed: ${error}`);
          });
      } catch (e) {
        console.error(`Matterport import failed: ${error}`);
      }
    },
    navigateToTag(sid) {
      return this.showcase.Mattertag.navigateToTag(
        sid,
        this.showcase.Mattertag.Transition.FLY
      );
    },
  },
};
</script>

<style>
.block-matterport {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.block-matterport iframe {
  width: 100%;
  height: 100%;
}
</style>