<template>
  <div class="container">
    <div class="chatbot-container">
      <matterport ref="Matterport" />
      <chatbot @matterport-transition="onMatterportTransitioned" />
    </div>
  </div>
</template>

<script>
import Chatbot from "~/components/Chatbot.vue";
import Matterport from "~/components/Matterport.vue";

export default {
  components: {
    Matterport,
    Chatbot,
  },
  methods: {
    async onMatterportTransitioned(sid) {
      await this.$refs.Matterport.navigateToTag(sid);
    },
  },
};
</script>

<style>
.container {
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}

.chatbot-container {
  position: absolute;
  bottom: 0;
  right: 0;
}
</style>
